<?xml version="1.0"?>

<model>
  <name>heightmap_smooth_untextured</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Daniel Vitor Ruiz</name>
    <email>ruiz.vitor@gmail.com</email>
  </author>

  <description>
    heightmap_smooth_untextured.
  </description>
</model>
